**

!package.json
!package-lock.json

!companion/
!companion/package.json
!companion/tsconfig.json
!companion/tsconfig.build.json
!companion/src/
!companion/src/**

!packages/
!packages/contracts/
!packages/contracts/package.json
!packages/contracts/tsconfig.json
!packages/contracts/src/
!packages/contracts/src/**
